name: Static site checks

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate HTML
        run: |
          docker run --rm \
            -v "$PWD:/workspace" \
            ghcr.io/svenkreiss/html5validator \
            /workspace


      - name: Check broken links
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --no-progress "./**/*.html"
